.container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.appointment-card{
    width:95%;
    height:180px;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 12px 0px;
    font-family: sans-serif;
    box-shadow: 2px 0px 28px -6px rgba(0,0,0,0.69);
}
.card{
    width:340px;
    height:240px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 12px 0px;
    box-shadow: 2px 0px 28px -6px rgba(0,0,0,0.69);
}
.article{
    width:95%;
    height:500px;
    border-radius: 10px;
    display:flex;
    font-family: sans-serif;
    flex-direction:column;
    margin: 12px 0px;
    box-shadow: 2px 0px 28px -6px rgba(0,0,0,0.69);
}
.profile{
    width:95%;
    height:380px;
    border-radius: 6px;
    display:flex;
    flex-direction:column;
    background-color:#1559b3;
    font-family: sans-serif;
    align-items: center;
    justify-content:space-around;
    margin: 12px 0px;
    padding:10px 0px;
    box-shadow: 2px 0px 28px -6px rgba(0,0,0,0.69);
}
.pickerdatetime{
    width:30px;
    height:30px;
    display:flex;
    background-image: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-36.png');
}
.topContainer{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.articleTopContainer{
    display: flex;
    align-items:center;
    height:50%;
}
.image{
    width:90px;
    object-fit: contain;
    border-radius:50px;
    margin-right:10px;
}
.article_image{
    width:100%;
    height:50%;
    object-fit: cover;
    border-radius:10px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    padding: 14px;
}
.articleTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 14px;
    width: 100%;
}
.name{
    font-size:26px;
    font-weight: 700;
}
.title{
    font-size:24px;
    font-weight: 700;
    height:40px;
    margin-bottom:8px;
}
.spec{
    font-size:20px;
}
.subTitle{
    font-size:16px;
    height:24px;
}
.text{
    font-size:20px;
    margin-left:14px;
}
.bottomTextContainer{
    display: flex;
    margin:10px 0px;
}
.articleBottomTextContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top:4px;
}
.bottomContainer{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom: 14px;
}
.like, .view{
    font-size:18px;
    margin-left:6px;
}
.description{
    font-size:20px;
    display:flex;
    align-items:flex-start;
    margin-top:10px;
    lines: 3;
    text-overflow: ellipsis
}
.valueContainer{
    display: flex;
    align-items:flex-start;
    margin-top:4px;
}
.readMore{
    display:flex;
    justify-content:flex-end;
}
.readMoreText{
    font-size:20px;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
}
.btn{
    padding:5px 18px 18px 18px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
}
.pro_image{
    height:120px;
    width:120px;
    border-radius:60px;
}